nav {
    display: flex;
    justify-content: space-between;
    background-color: aqua;
    align-items: center;
  }
  ul {
    display: flex;
    list-style-type: none;
    cursor: pointer;
  }
  
  a {
    cursor: pointer;
    color: black;
    text-decoration: none;
  }
  li {
    margin-right: 12px;
  }
  
  .main1 {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 300px;
   background-color: aquamarine;
    
  }
  
  .main {
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: antiquewhite;
    
  }
  
  #error {
    color: red;
  }
  
  @media only screen and (max-width: 230px) {
    nav {
      display: block;
    }
  }
  
  @media only screen and (max-width: 160px) {
    ul {
      display: block;
    }
  }
  